
.tags-1 {
  display: inline-block;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin: 0.438em 0.4em 0.4em 0;
  color: rgb(24, 51, 71);
  background: rgb(211, 229, 239);
  border-radius: 0.2em;
}

.tags-2 {
  display: inline-block;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin: 0.438em 0.4em 0.4em 0;
  color: rgb(24, 51, 71);
  background: rgb(253, 236, 200);
  border-radius: 0.2em;
}

.tags-3 {
  display: inline-block;
  min-width: 0px;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin: 0.438em 0.4em 0.4em 0;
  color: rgb(24, 51, 71);
  background: rgb(232, 222, 238);
  border-radius: 0.2em;
}

.tags-4 {
  display: inline-block;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin: 0.438em 0.4em 0.4em 0;
  color: rgb(24, 51, 71);
  background: rgb(219, 237, 219);
  border-radius: 0.2em;
}

.search-filter input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.button-filter {
  display: block;
  background:transparent;
  border:none;
}

.button-trash, .button-edit {
  background:transparent;
  border: none;
}

.search-filter {
  display: none;
}

table {
  width: 100%;
  margin: 1.5em 0 1.5em;
  border-spacing: 0;
  border-collapse: collapse;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 3px 0 rgb(0,0,0);
}

table thead {
  background-color: rgb(34, 34, 34);
}

table thead tr th {
  padding: 0.5em 0.5em;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-align: center;  
  color: rgb(255, 255, 255);
  border: 0 solid rgb(0, 0, 0);
  border-bottom-width: 1px;
  border-right-width: 1px;
}

table tbody tr td {
  padding: 0.3em 0.5em 0.375em;
  font-weight: 300;
  border: 0 solid rgb(255, 255, 255);
  border-bottom-width: 1px;
  border-right-width: 1px;
  color: rgb(19, 19, 19);
}

.tags {
  padding: 0 0.5em;
}

tbody > tr:nth-of-type(odd) { /*linhas impar*/
  background-color: rgb(220, 220, 220);;
}

tbody > tr:nth-of-type(even) { /*linhas pares*/
  background-color: rgb(237, 237, 237);
}

.trash-icon, .edit-icon, .download-icon {
  text-align: center;  
  padding-bottom: 0;
}

@media (max-width: 600px) {
  table thead {
    display: none;
  }

  table {
    border: none;
    box-shadow: none;
  }

  table tbody tr td {
    border: none;
  } 

  table tbody tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
  }

  tbody tr {
    border: 1px solid rgb(0, 0, 0);
  } 

  tbody tr {
    position: relative;
  }

  .description {
    position: absolute;
    left: 6em;
    top: 0;
  }

  .download-icon {
    position: absolute;
    right: 2.7em;
    top: 0;        
  }

  .edit-icon {
    position: absolute;
    right: 1.3em;
    top: 0;    
  }

  .trash-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .money {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
}

@media (max-width: 960px) {
  .section-group, .field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  
  .search-filter {
    display: flex;
    position: relative; 
  }

  .search-filter input {
    text-align: center;
    letter-spacing: 0.1em;
    border-radius: 0.5em;
    width: 100%;
  }

  .search-filter::after {
    content: url("../img/filter.svg");
    position: absolute;
    right: 0.5em;
    top: 0.4em;
  }

  .icon-max {
    display: none;
  }

}

@media (max-width: 370px) {
  .description {
    position: static;
    left: 0;
    bottom: 0;
  }

}

