
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #de4313, #fec163);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  position: relative;
  background-color: rgba(255, 255, 255, .5);
  width: 450px;
  padding: 4rem;
  border-radius: 10px;
}

.login-card::before {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, .15);
  inset: 0;
  transform: rotate(-5deg);
  z-index: -1;
}

.login-card-logo {
  margin-bottom: 2rem;
}

.login-card-logo img {
  width: 60px;
}

.login-card-logo,
.login-card-footer {
  text-align: center;
}

.login-card-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-item {
  position: relative;
}

.form-item-icon {
  position: absolute;
  top: .82rem;
  left: 1.4rem;
  font-size: 1.3rem!important;
  opacity: .4;
}

.login-card-footer {
  margin-top: 1.5rem;
  font-size: calc(1rem * .8);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f7681c;
}

input[type="text"],
input[type="password"] {
  padding: 1rem 1.5rem;
  padding-left: calc(1rem * 3.5);
  border-radius: 100px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, .3);
  width: 100%;
}

.login-card input:focus {
  background: white;
  color: #495057;
}

::placeholder {
  color: unset;
}

button {
  background: rgba(0,0,0,0.8);
  padding: 1rem;
  color: #fff;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, .85);
}

@media (max-width: 768px) {

  body {
    padding: 2rem 0;
  }

  .login-card {
    width: 300px;
    padding: 2rem;
  }

}
