
* { /* Todos os elementos da página */
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body {
  background-color: white;
}

main {
  max-width: 1400px;
  min-height: 100vh; /*altura de 100vh corresponde a 100% da página total*/
  margin: auto;
  padding: 0 2em 3.5em;
}

