<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/account.css"/>
  </head>
  <body>
    <main>
      <section class="section">
        <form method="post">
          <div class="field">
            <input name="firstName" type="text" value="{{ request.form['firstName'] }}" class="{{ 'is-invalid' if first_name == '' }}" placeholder="Nome" autocomplete="off">
            {% if first_name == '' %}
              <div class="invalid-feedback">Insira o nome</div>
            {% endif %}
          </div>
          <div class="field">
            <input name="lastName" type="text" value="{{ request.form['lastName'] }}" placeholder="Sobrenome" autocomplete="off">
          </div>
          <div class="field">
            <input name="email" type="text" value="{{ request.form['email'] }}" class="{{ 'is-invalid' if email == '' or emailError }}" placeholder="nome@example.com" autocomplete="off">
            {% if email == '' %}
              <div class="invalid-feedback">E-mail obrigatório</div>
            {% endif %}
            {% if emailError %}
              <div class="invalid-feedback">{{ emailError }}</div>
            {% endif %}
          </div>
          <div class="field">
            <input name="password" type="password" value="{{ request.form['password'] }}" class="{{ 'is-invalid' if passwordError or validationErrors }}" placeholder="Senha" autocomplete="off">
          </div>
          <div class="field">
            <input name="confirmPassword" type="password" value="{{ request.form['confirmPassword'] }}" class="{{ 'is-invalid' if passwordError or validationErrors }}" placeholder="Confirmar senha" autocomplete="off">
            {% if passwordError %}
              <div class="invalid-feedback">{{ passwordError }}</div>
            {% endif %}
            {% if validationErrors %}
              <div class="invalid-feedback">{{ validationErrors }}</div>
            {% endif %}
          </div>
          <button type="submit">SIGN UP</button>
        </form>
        <div class="sign-in">
          <span>Já tem uma conta?</span>
          <a href="/login">Encontre-a aqui</a>
        </div>
      </section>
    </main>
  </body>
</html>
