{% extends "_layout.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/sytles.css"/>
  <script>

    function handleIsFilledInClass (event) {
      const input = event.target;
      if (input.value !== '') {
        input.classList.add('is-filled-in');
      } else {
        input.classList.remove('is-filled-in');
      }
    }

  </script>
{% endblock %}

{% block message %}
  {% for message in get_flashed_messages() %} 
    <div class="flash">{{ message }}</div>
  {% endfor %}
{% endblock %}

{% block title %}Consultar transações{% endblock %}

{% block content %}
  <form id="form" method="get">
    <div class="section-group consult-card">
      <div class="field form-item">
        <input
          name="valor" type="text" value="{{ valor or '' }}"
          class="{{ 'is-invalid' if results == False else '' }} {{ 'is-filled-in' if valor }}"
          autocomplete="off" spellcheck="false"
          onchange="handleIsFilledInClass(event)"
        >
        <span>Valor</span>
        {% if results == False %}
          <span class="invalid-feedback">Valor inválido</span>
        {% endif %}
      </div>
      <select name="tags" class="field" multiple>
        {% for tag in results_tags %}
        <option value="{{ tag['tag'] }}">{{ tag['tag'] }}</option>
        {% endfor %}
      </select>
      <div class="field form-item">
        <input
          name="descricao" type="text" value="{{ descricao or '' }}"
          class="{{ 'is-filled-in' if descricao }}"
          autocomplete="off" spellcheck="false"
          onchange="handleIsFilledInClass(event)"
        >
        <span>Descrição</span>
      </div>
      <div class="field">
        <input
          name="date" type="date" value="{{ date or '' }}"
        >
      </div>
      <button type="submit" class="button">Aplicar</button>
    </div>
  </form>
  {% if transacoes == [] %}
    <h3 class="empty-filter">Sorry, there are no results for
      <span class="text-state-orange">{{ descricao or (tags | word_list) or (valor | format_currency) or (date | date_format) }}</span>
    </h3>
  {% endif %}
  {% if transacoes %}
    <table class="content-table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Valor</th>
          <th>Tags</th>
          <th>Descrição</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      {% for item in transacoes %}
        <tbody>
          <tr>
            <td>{{ item.date | date_format }}</td>
            <td class="money">{{ item.valor | format_currency }}</td>
            <td id="tags">
              <div class="tags-1">{{ item.tags }}</div>
            </td>
            <td id="description">{{ item.descricao }}</td>
            <td id="download-icon">
              {% if item.file %}
                <a href="/uploads/{{ item["id"] }}">
                  <img src="/static/img/download.svg" alt="Download Icon">
                </a>
              {% endif %}
            </td>
            <td id="edit-icon">
              <a href="/transacoes/edit/{{ item["id"] }}">
                <img src="/static/img/edit.svg" alt="Edit Icon">
              </a>
            </td>
            <td id="trash-icon">
              <form method="post" action="/transacoes/{{ item["id"] }}/excluir">
                <button type="submit" id="button-trash">
                  <img src="/static/img/trash.svg" alt="Trash Icon">
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      {% endfor %}
      <tfoot>
        <tr></tr>
      </tfoot>
    </table>
  {% endif %}
{% endblock %}
