{% extends "_layout.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/sytles.css"/>
{% endblock %}


{% block message %}
  {% for message in get_flashed_messages() %} 
    <div class="flash">{{ message }}</div>
  {% endfor %}
{% endblock %}

{% block title %}
  {% if transacao %}Editar transação{% else %}Incluir transação{% endif %}
{% endblock %}

{% block content %}
  <form id="form" method="post" enctype="multipart/form-data">
    <div class="section-group include-card">
      <div class="field">
        <div class="label-icons">
          <img src="/static/img/cifrao.svg" alt="Tags Icon" class="icon cifrao">
          <label>Valor (R$)</label>
        </div>
        <input
          name="valor" type="text" value="{{ request.form['valor'] or transacao['valor'] }}"
          class="{{ 'is-invalid' if valor == '' or valor == False else '' }}"
          autocomplete="off" spellcheck="false"
          onblur="onBlurValidatorsRequired('value', event)"
        >
        <span id="value-error" class="invalid-feedback">
          {% if valor == "" %}Campo obrigatório{% endif %}
        </span>
        {% if valor == False %}
          <span class="invalid-feedback">O campo valor não pode conter letras</span>
        {% endif %}
      </div>
      <div class="field">
        <div class="label-icons">
          <img src="/static/img/tags.svg" alt="Tags Icon" class="icon">
          <label>Tags</label>
        </div>
        <input
          name="tags" type="text" value="{{ request.form['tags'] or transacao['tag'] }}"
          class="{{ 'is-invalid' if tags == '' else '' }}"
          autocomplete="off" list="tags" spellcheck="false"
          onblur="onBlurValidatorsRequired('tags', event)"
        >
        <datalist id="tags">
        {% for tag in results_tags %}
          <option>{{ tag.tag }}</option>
        {% endfor %}
        </datalist>
        <span id="tags-error" class="invalid-feedback">
          {% if tags == "" %}Campo obrigatório{% endif %}
        </span>
      </div>
      <div class="field">
        <div class="label-icons">
          <img src="/static/img/date.svg" alt="Date Icon" class="icon">
          <label>Data</label>
        </div>
        <input
          name="date" type="date" value="{{ request.form['date'] or transacao['date'] }}"
          class="{{ 'is-invalid' if date == '' else '' }}"
          onblur="onBlurValidatorsRequired('date', event)"
        >
        <span id="date-error" class="invalid-feedback">
          {% if date == "" %}Campo obrigatório{% endif %}
        </span>
      </div>
      <div class="field">
        <div class="label-icons">
          <img src="/static/img/description.svg" alt="Description Icon" class="icon">
          <label>Descrição (opcional)</label>
        </div>
        <input
          name="descricao" type="text" value="{{ request.form['descricao'] or transacao['descricao'] }}"
          autocomplete="off" spellcheck="false"
        >
      </div>
      <input
        name="file" type="file" value="{{ request.form['file'] or transacao['file'] }}"
      >
      <button type="submit" class="button">Salvar</button>
    </div>
  </form>
{% endblock %}
