<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
  </head>
  <body>
    <main>
      <section>
        <form>
          <div class="field">
            <label>Enter Email</label>
            <input name="user-email" type="text" value="" autocomplete="off">
          </div>
          <div class="field">
            <label>Enter Password</label>
            <input name="password" type="text" value="" autocomplete="off">
          </div>
          <button type="submit">SIGN IN</button>
        </form>
      </section>
    </main>
  </body>
</html>
