<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
  </head>
  <body>
    <main>
      <section>
        <form action="/login" method="post">
          <div class="field">
            <label>Email</label>
            <input name="username" type="text" value="{{ request.form['username'] }}" class="{{ 'is-invalid' if username == '' or usernameError }}" autocomplete="off">
            {% if username == '' %}
              <div class="invalid-feedback">E-mail obrigatório</div>
            {% endif %}
            {% if usernameError %}
              <div class="invalid-feedback">{{ usernameError }}</div>
            {% endif %}
          </div>
          <div class="field">
            <label>Password</label>
            <input name="password" type="password" value="{{ request.form['password'] }}" class="{{ 'is-invalid' if password == '' or passwordError }}" autocomplete="off">
            {% if password == '' %}
              <div class="invalid-feedback">Senha obrigatória</div>
            {% endif %}
            {% if passwordError %}
              <div class="invalid-feedback">{{ passwordError }}</div>
            {% endif %}
          </div>
          <button type="submit">SIGN IN</button>
        </form>
      </section>
    </main>
  </body>
</html>
