{% extends "_layout.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/sytles.css"/>
{% endblock %}

{% block title %}Relatório de tags{% endblock %}

{% block content %}
  <form id="form" method="get">
    <div class="section-group">
      <div class="field">
        <div class="label-icons">
          <img src="/static/img/date.svg" alt="Date Icon" class="icon">
          <label>Mês</label>
        </div>
        <input
          name="date" type="month" value="{{ date or '' }}"
          class="{{ 'is-invalid' if date == '' else '' }}"
          onblur="onBlurValidatorsRequired('month', event)"
        >
        <span id="month-error" class="invalid-feedback">
          {% if date == "" %}Campo obrigatório{% endif %}
        </span>
      </div>
      <button type="submit" class="button">Gerar</button>
    </div>
  </form>
  {% if transacoes == [] %}
    <h3 class="empty-filter">Sorry, there are no results for
      <span class="text-state-orange">{{ date | year_month_format }}</span>
    </h3>
  {% endif %}
  {% if transacoes %}
    <table class="content-table-tags">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Valor</th>
          <th id="small-column">Qtd. Txs.</th>
        </tr>
      </thead>
      {% for item in transacoes %}
        <tbody>
          <tr>
            <td id="tags">
              <div class="tags-1">{{ item.tags }}</div>
            </td>
            <td class="money">{{ item.valor|format_currency }}</td>
            <td class="format-qtd">{{ item.qtd }}</td>
            <td class="small-format-qtd">{{ item.qtd | txs_unit_suffix }}</td>
          </tr>
      {% endfor %}
          <tr>
            <td>TOTAL</td>
            <td class="money">{{ cont_valor_total|format_currency }}</td>
            <td class="format-qtd">{{ cont_qtd_transacoes }}</td>
            <td class="small-format-qtd">{{ cont_qtd_transacoes | txs_unit_suffix }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr></tr>
        </tfoot>
    </table> 
  {% endif %}
{% endblock %}
