<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nekoCash: Programa de Gestão Financeira</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/globalnav.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/consultar.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/globalfooter.css"/>
  </head>
  <body>
    <header>
      <a id="logo" href="/">
        <span>neko<strong>Cash</strong></span>
      </a>
      <nav class="nav-menu">
        <label class="mobile-menu" for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle">
        <ul class="list-menu">
          <li class="item-menu">
            <a href="/">Incluir Transações</a>
          </li>
          <li class="item-menu">
            <a href="/consultar">Consultar Transações</a>
          </li>
          <li class="item-menu">
            <a href="/relatorio">Relatório de Tags</a>
          </li>
          <li class="item-menu">
            <a href="/logout">Sair</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h3 class="section-title">Relatório de Tags</h3>
        <form method="get">
          <div class="field">
            <div class="label-icons">
              <img src="/static/img/date.svg" alt="Date Icon" class="icon">
              <label>Mês</label>
            </div>  
            <input type="month" name="date" value="{{ date or '' }}" class="{{ 'is-invalid' if date == '' else '' }}">
            {% if date == "" %}
              <div class="invalid-feedback">Campo obrigatório</div>
            {% endif %}
          </div>
          <button type="submit" class="button">Gerar</button>
        </form>
        {% if transacoes == [] %}
          <h3 class="empty-filter">Sorry, there are no results for
            <span class="text-state-orange">{{ date | year_month_format }}</span>
          </h3>
        {% endif %}
        {% if transacoes %}
          <table>
            <thead>
              <tr>
                <th>Tag</th>
                <th>Valor</th>
                <th class="small-column">Qtd. Txs.</th>
              </tr>
            </thead>
            {% for item in transacoes %}
              <tbody>
                <tr>
                  <td class="tags">
                    <div class="tags-2">{{ item.tags }}</div>
                  </td>
                  <td class="money">{{ item.valor|format_currency }}</td>
                  <td class="format-qtd">{{ item.qtd }}</td>
                  <td class="small-format-qtd">{{ item.qtd | txs_unit_suffix }}</td>
                </tr>
            {% endfor %}
                <tr>
                  <td>TOTAL</td>
                  <td class="money">{{ cont_valor_total|format_currency }}</td>
                  <td class="format-qtd">{{ cont_qtd_transacoes }}</td>
                  <td class="small-format-qtd">{{ cont_qtd_transacoes | txs_unit_suffix }}</td>
                </tr>
              </tbody>
          </table> 
        {% endif %}
      </section>
    </main>
    <footer>
      <div class="footer-column">
        <img src="/static/img/neko.svg" alt="neko Image" class="neko-image">
        <div class="footer">
          <div class="footer-copyright">
            <p>Copyright © 2022 AppCash Inc. Todos os direitos reservados.</p>
          </div>
          <div class="social-icons">
            <p>Siga-nos</p>
            <ul class="social-icons_list">
              <li class="social-icons_item">
                <a href="https://www.facebook.com/joicemarina" target="_blank">
                  <img src="/static/img/facebook.svg" alt="Facebook Icon">
                </a>
              </li>
              <li class="social-icons_item">
                <a href="https://twitter.com/marigrigolato" target="_blank">
                  <img src="/static/img/twitter.svg" alt="Twitter Icon">
                </a>
              </li>
              <li class="social-icons_item">
                <a href="https://www.instagram.com/marigrigolato/" target="_blank">
                  <img src="/static/img/instagram.svg" alt="Instagram Icon">
                </a>
              </li>
              <li class="social-icons_item">
                <a href="https://www.linkedin.com/in/joice-grigolato/" target="_blank">
                  <img src="/static/img/linkedin.svg" alt="LinkedIn Icon">
                </a>
              </li>
              <li class="social-icons_item">
                <a href="https://github.com/marigrigolato" target="_blank">
                  <img src="/static/img/github.svg" alt="GitHub Icon">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
